@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background, #F5F5F5); /* default if var not set */
  color: var(--foreground, #1A1A1A);
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.5rem; /* instead of p-2 */
}

/* styles/globals.css or a module CSS file */
/* globals.css or your component's CSS module */
.swiper-button-next,
.swiper-button-prev {
  color: rgba(255, 255, 255, 0.2); /* transparent/very light */
  transition: color 0.3s;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: rgba(255, 255, 255, 0.8); /* brighter on hover */
}

